.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__container {
        width: 600px;
        margin: 0 auto;
        padding: 0 15px;
        @media (max-width: 1023px) {
            max-width: 450px;
        }
    
        @media (max-width: 767px) {
            max-width: 250px;
        }
    }
    &__title{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 72px;
        line-height: 83px;
        text-align:center;
        color: #F2F4F7;
        margin-bottom: 32px;
        @media (max-width: 1023px) {
            font-size: 56px;
            margin-bottom: 35px;
            line-height: 60px;
        }
    
        @media (max-width: 767px) {
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 20px;
        }
    }
    &__subtitle{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #F2F4F7;
        margin-bottom: 80px;
        @media (max-width: 1023px) {
            margin-bottom: 40px;
            font-size: 16px;
        }
    
        @media (max-width: 767px) {
            margin-bottom: 30px;
            font-size: 12px;
        }
    }
    &__button{
        margin: 0 auto 65px ;
        width: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-transform: capitalize;
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(to right, #fc4060, #8061fd);
        border: 2px solid;
        border-image: linear-gradient(to right, #fc4060, #8061fd);
        border-image-slice: 1;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-clip: unset;
            color: #f0f1f3;
            cursor: pointer;
            
        }
        @media (max-width: 767px) {
            width: 190px;
            margin-bottom: 35px;
        }
    } 
    &__dots{
        display: flex;
        justify-content: center;
        gap: 32px;
        @media (max-width: 767px) {
            gap: 16px;
        }
    }
    &__dot{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 3px solid rgba(196, 196, 196, 0.16);
        &--active{
            border: 3px solid white;
        }
    }
}